.reveal .footer {
  position: absolute;
  bottom: 1em;
  left: 1em;
  font-size: 0.5em;
}

.reveal section img {
  border: none !important;
  box-shadow: none !important;
}

.reveal section img.ghlogo {
  margin: 0 !important;
}
